* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    transition: background 0.5s ease;
    background-color: #250902;
    top: 0;
    z-index: 99999999;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    align-items: center;
    margin: 10px auto;
    width: 90%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    padding: 0 20px;
    color: #F1F6F9;
    font-size: 14px;
}

.facebook-icon {
    position: absolute;
    right: 10px;
    top: 5px;
}

.facebook-icon img {
    width: 30px;
    height: 30px;
}

.cover img {
    height: 500px;
    width: 1500px;
    max-width: 100%; /* Ensures the image scales down on smaller screens */
    height: auto; /* Allows the image to scale proportionally */
    display: block; /* Ensures the image behaves like a block element */
}

/* Media queries for different screen sizes */
@media only screen and (max-width: 768px) {
    .cover img {
        /* Adjust styles for smaller screens */
        height: auto;
        max-width: 100%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .cover img {
        /* Adjust styles for medium-sized screens */
        height: auto;
        max-width: 100%;
    }
}

.buting-cover-page {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('img/MAYBUNGA COVER .jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 91vh;
    padding: 30px;
}

.buting-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding: 10px;
}

.buting-logo a {
    padding-top: 5px;
    color: #F1F6F9;
    text-decoration: none;
}

.buting-logo img {
    height: 300px;
    width: 300px;
}

.buting-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    padding: 10px;
}

.buting-tag p {
    font-size: 30px;
    color: #F1F6F9;
    font-weight: 500;
    text-align: center;
}

.container-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: linear-gradient(rgba(66, 26, 26, 0.74), rgba(29, 3, 3, 0.87)), url('img/backgroundImage.jpg');
}

.content-title {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-title h1 {
    font-size: 70px;
    color: red;
}

.content-tag {
    height: 40%;
    width: 100%;
    display: flex;
}

.content-tag p {
    font-size: 25px;
    text-align: center;
    color: white;
}

.get-started-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-started-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-get-started {
    padding: 15px 20px;
    font-size: 18px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    z-index: 1;
    letter-spacing: 1px;
}

.btn-get-started::after,
.btn-get-started::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
}

.btn-get-started::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(101, 0, 11), rgba(101, 0, 11));
    border-radius: 10px;
}

.btn-get-started::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: linear-gradient(135deg, rgba(101, 0, 11, 0.3), rgba(101, 0, 11, 0.3));
    backdrop-filter: blur(20px);
    border-radius: 50px;
}

.btn-get-started:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.btn-get-started:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.btn-get-started:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

.container-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    gap: 50px;
    background: linear-gradient(rgba(66, 26, 26, 0.74), rgba(29, 3, 3, 0.87)), url('img/backgroundImage.jpg');
}

.content-title-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

.content-title-2 h1 {
    font-size: 50px;
    text-align: center;
    color: red;
}

.content-tag-2 {
    background-color: #65000B;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    color: #F1F6F9;
    font-size: 25px;
} 

.content-tag-2 p a {
    text-decoration: none;
    color: orange;
}

.content-tag-2 p a:hover {
    color: rgb(0, 255, 0);
}

button {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: #65000B;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}

button:active {
    color: white;
    box-shadow: 0 0.2rem #dfd9d9;
    transform: translateY(0.2rem);
}

button:hover {
    background: #65000B;
    color: white;
}

.container-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 190vh;
    margin: 0 auto;
    gap: 50px;
    background: linear-gradient(rgba(66, 26, 26, 0.74), rgba(29, 3, 3, 0.87)), url('img/backgroundImage.jpg');
}

.trinidad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 105vh;
    width: 100%;
}

.trinidad-title h1 {
    font-size: 50px;
    color: red;
}

.trinidad-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.trinidad-noon,
.trinidad-ngayon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px;
    width: 40%;
    background-color: #65000B;
    color: white;
}

.trinidad-noon img {
    height: 600px;
    width: 1300px;
}

.trinidad-ngayon img {
    height: 400px;
    width: 450px;
}

.container-4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    gap: 40px;
    background: linear-gradient(rgba(66, 26, 26, 0.74), rgba(29, 3, 3, 0.87)), url('img/backgroundImage.jpg');
}   

.trivia-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.trivia-content-1 img {
    height: 500px;
}

.trivia-content-2 {
    padding: 40px;
    font-size: 30px;
    color: white;
}

.trivia-content-2 h1 {
    font-size: 50px;
    text-align: center;
    color: red;
    margin-bottom: 20px; /* Add some spacing between the heading and the paragraph */
}

.trivia-content-2 p a {
    color: orange;
    text-decoration: none;
}

.story-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
    background: linear-gradient(rgba(66, 26, 26, 0.74), rgba(29, 3, 3, 0.87)), url('img/backgroundImage.jpg');
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title h1 {
    font-size: 50px;
    text-align: center;
    color: red;
}

.content-1 {
    padding: 30px;
    height: 1100px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: justify;
    color: white;
    border-radius: 20px;
}

.content-1:hover {
    background-color: #65000B;
    color: #F1F6F9;
}

.content-1 p {  
    font-size: 25px;
}

.content-1 p a {
    text-decoration: none;
    color: orange;
}

.content-1 p a:hover {
    color: rgb(1, 255, 1);
}

.content-vid {
    padding: 30px;
    height: 150px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    border-radius: 20px;
}

.content-vid:hover {
    background-color: #65000B;
    color: #F1F6F9;
}

.content-vid p {  
    font-size: 25px;
}

.content-vid p a {
    text-decoration: none;
    color: orange;
}

.content-vid p a:hover {
    color: rgb(1, 255, 1);
}

.content-1dot1 {
    padding: 30px;
    height: 750px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: justify;
    color: white;
    border-radius: 20px;
}

.content-1dot1:hover {
    background-color: #65000B;
    color: #F1F6F9;
}

.content-1dot1 p {  
    font-size: 25px;
}

.content-1dot1 p a {
    text-decoration: none;
    color: orange;
}

.content-1dot1 p a:hover {
    color: rgb(1, 255, 1);
}

.content-2 {
    padding: 30px;
    height: 600px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.content-2 iframe {
    height: 500px;
    width: 100%;
}

.content-2 h1 {
    text-align: center;
    color: white;
    font-size: 30px;
}

.container-5 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    gap: 30px;
}

.content-title-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20%;
    width: 100%;
}

.content-title-3 h1 {
    font-size: 50px;
    color: red;
}

.content-ref {
    background-color: #F1F6F9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.content-ref a {
    text-decoration: none;
    color: black;
}

/* Media Queries */
@media (max-width: 1200px) {
    .content-title h1 {
        font-size: 60px;
    }

    .content-title-2 h1, .title h1 {
        font-size: 40px;
    }

    .btn-get-started {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .content-title h1 {
        font-size: 50px;
    }

    .content-tag p, .content-title-2 h1, .content-tag-2 p, .trivia-content-2, .story-1 .content-1 p {
        font-size: 20px;
    }

    .btn-get-started {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .nav ul {
        flex-direction: column;
    }

    .nav ul li a {
        padding: 10px;
        font-size: 12px;
    }

    .buting-logo, .buting-tag, .trinidad-noon, .trinidad-ngayon {
        width: 80%;
    }

    .container-1, .container-2, .container-3, .container-4, .container-5 {
        padding: 20px;
    }

    .content-title h1 {
        font-size: 40px;
    }

    .btn-get-started {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .nav ul {
        flex-direction: column;
        text-align: center;
    }

    .buting-logo img {
        height: 200px;
        width: 200px;
    }

    .buting-tag p, .content-title h1, .content-title-2 h1, .title h1 {
        font-size: 30px;
    }

    .btn-get-started {
        font-size: 10px;
    }

    .trinidad-noon img, .trinidad-ngayon img {
        height: 300px;
        width: 300px;
    }

    .trivia-content-1 img {
        height: 300px;
    }
}

.trinidad-noon img,
.trinidad-ngayon img {
    max-width: 100%;
    height: auto;
}

/* Media Queries */
@media (max-width: 1200px) {
    .content-title h1 {
        font-size: 60px;
    }

    .content-title-2 h1, .title h1 {
        font-size: 40px;
    }

    .btn-get-started {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .content-title h1 {
        font-size: 50px;
    }

    .content-tag p, .content-title-2 h1, .content-tag-2 p, .trivia-content-2, .story-1 .content-1 p {
        font-size: 20px;
    }

    .btn-get-started {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .nav ul {
        flex-direction: column;
    }

    .nav ul li a {
        padding: 10px;
        font-size: 12px;
    }

    .buting-logo, .buting-tag, .trinidad-noon, .trinidad-ngayon {
        width: 80%;
    }

    .container-1, .container-2, .container-3, .container-4, .container-5 {
        padding: 20px;
    }

    .content-title h1 {
        font-size: 40px;
    }

    .btn-get-started {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .nav ul {
        flex-direction: column;
        text-align: center;
    }

    .buting-logo img {
        height: 200px;
        width: 200px;
    }

    .buting-tag p, .content-title h1, .content-title-2 h1, .title h1 {
        font-size: 30px;
    }

    .btn-get-started {
        font-size: 10px;
    }

    .trinidad-noon img, .trinidad-ngayon img {
        max-width: 100%;
        height: auto;
    }

    .trivia-content-1 img {
        height: 300px;
    }
}

